Repository donorbound/donorbound: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, eslint-check

biome-check:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

eslint-check:
  run: pnpm eslint {staged_files} --fix
  stage_fixed: true

feat: :bug: Fixed eslint style errors based on adding eslint-unicon
  apps/api/src/pkgs/environment.ts
  apps/api/src/pkgs/errors/http.ts
  apps/api/src/pkgs/hono/app.ts
  apps/api/src/pkgs/hono/context.ts
  apps/api/src/pkgs/metrics/logdrain.ts
  apps/api/src/pkgs/middlewares/analytics.ts
  apps/api/src/pkgs/middlewares/metrics.ts
  apps/api/src/pkgs/utils/zod-error.ts
  apps/api/src/routes/v1-liveness.ts
  apps/api/src/worker.ts
  apps/api/vitest.integration.ts
  apps/api/vitest.unit.ts
  apps/docs/app/docs/[[...slug]]/page.tsx
  apps/docs/app/docs/layout.tsx
  apps/docs/package.json
  apps/docs/scripts/generate-documentation.mjs
  eslint.config.mjs
  internals/errors/package.json
  internals/errors/src/error-handling.ts
  internals/errors/src/errors/base.ts
  internals/errors/src/errors/env-error.ts
  internals/errors/src/errors/environment-error.ts
  internals/errors/src/errors/fetch-error.ts
  internals/errors/src/errors/schema-error.ts
  internals/id/src/generate.test.ts
  internals/worker-logging/src/console.ts
  package.json
  pnpm-lock.yaml
Due: biome-check, eslint-check

docs: :memo: Added JSDocs
  .gitignore
  apps/api/package.json
  apps/api/src/pkgs/environment.ts
  apps/api/src/pkgs/errors/donorbound-api-error.ts
  apps/api/src/pkgs/errors/error-codes.ts
  apps/api/src/pkgs/errors/error-handlers.ts
  apps/api/src/pkgs/errors/error-schema.ts
  apps/api/src/pkgs/errors/http.ts
  apps/api/src/pkgs/errors/openapi-responses.ts
  apps/api/src/pkgs/errors/utils.ts
  apps/api/src/pkgs/hono/app.ts
  apps/api/src/pkgs/hono/context.ts
  apps/api/src/pkgs/metrics/interface.ts
  apps/api/src/pkgs/metrics/logdrain.ts
  apps/api/src/pkgs/metrics/noop.ts
  apps/api/src/pkgs/middlewares/analytics.ts
  apps/api/src/pkgs/middlewares/metrics.ts
  apps/api/src/pkgs/utils/zod-error.ts
  apps/api/src/routes/v1-liveness.ts
  apps/api/src/worker.ts
  apps/docs/package.json
  internals/errors/package.json
  internals/errors/src/error-handling.ts
  internals/errors/src/errors/base.ts
  internals/errors/src/errors/environment-error.ts
  internals/errors/src/errors/fetch-error.ts
  internals/errors/src/errors/schema-error.ts
  internals/id/package.json
  internals/id/src/generate.test.ts
  internals/id/src/generate.ts
  internals/logs/package.json
  internals/logs/src/logs.ts
  internals/logs/src/types.ts
  internals/metrics/package.json
  internals/metrics/src/metrics.ts
  internals/worker-logging/package.json
  internals/worker-logging/src/console.ts
  internals/worker-logging/src/types.ts
  package.json
  turbo.json
Due: biome-check, eslint-check

fix: :bug: added dev and build scripts to root package.json
  package.json
  turbo.json
Due: biome-check

fix: :bug: get the API version from the package.json
  apps/api/src/pkgs/hono/documentation.ts
Due: biome-check, eslint-check

fix: :ambulance: fix autoprefixer missing from docs
  apps/docs/package.json
  pnpm-lock.yaml
Due: biome-check

fix: :sparkles: fixed ts-error
  apps/docs/lib/blog.ts
  apps/docs/package.json
Due: biome-check, eslint-check

fix: :sparkles: fixed ts-error
  apps/docs/app/_(home)/layout.tsx
  apps/docs/app/_(home)/page.tsx
  apps/docs/app/sitemap.ts
  apps/docs/components/sections/hero.tsx
  apps/docs/components/ui/flickering-grid.tsx
  apps/docs/public/author.jpg
  apps/docs/public/cube.png
  apps/docs/public/introducing.png
Due: biome-check, eslint-check

fix: :sparkles: reworked-blog-image
  apps/docs/app/(marketing)/blog/[slug]/page.tsx
  apps/docs/components/ui/flickering-grid.tsx
  apps/docs/content/blog/why-donorbound.mdx
  apps/docs/public/author.jpg
  apps/docs/public/introducing.png
  apps/docs/public/og.png
  apps/docs/public/why-donorbound.png
Due: biome-check, eslint-check

fix: :sparkles: reworked-blog-image
  apps/docs/components/ui/flickering-grid.tsx
Due: biome-check, eslint-check

fix: :sparkles: reworked-blog-image
  apps/docs/content/blog/why-donorbound.mdx
  apps/docs/lib/config.tsx
Due: biome-check, eslint-check

fix: :sparkles: fixed discord icon
  apps/docs/app/(marketing)/layout.tsx
  apps/docs/components/icons/discord.tsx
  apps/docs/components/sections/community.tsx
  apps/docs/lib/config.tsx
  apps/docs/next.config.mjs
Due: biome-check, eslint-check

refactor: :bug: fixes biome + eslint errors
  apps/docs/app/(marketing)/blog/layout.tsx
  apps/docs/app/marketing-og/route.tsx
  apps/docs/components/aurora-text.tsx
  apps/docs/components/feature-selector.tsx
  apps/docs/components/icons.tsx
  apps/docs/components/icons/bluesky.tsx
  apps/docs/components/icons/discord.tsx
  apps/docs/components/icons/github.tsx
  apps/docs/components/icons/instagram.tsx
  apps/docs/components/icons/linkedin.tsx
  apps/docs/components/icons/x.tsx
  apps/docs/components/section.tsx
  apps/docs/components/sections/community.tsx
  apps/docs/components/sections/examples.tsx
  apps/docs/components/sections/features.tsx
  apps/docs/components/sections/footer.tsx
  apps/docs/components/sections/header.tsx
  apps/docs/components/sections/hero.tsx
  apps/docs/components/sections/logos.tsx
  apps/docs/components/sections/pricing.tsx
  apps/docs/components/sections/statistics.tsx
  apps/docs/components/sections/testimonials.tsx
  apps/docs/components/tailwind-indicator.tsx
  apps/docs/components/theme-toggle.tsx
  apps/docs/components/ui/badge.tsx
  apps/docs/components/ui/flickering-grid.tsx
  apps/docs/components/ui/input.tsx
  apps/docs/components/ui/marquee.tsx
  apps/docs/components/ui/orbiting-circles.tsx
  apps/docs/components/ui/ripple.tsx
  apps/docs/lib/blog.ts
  apps/docs/lib/config.tsx
  apps/docs/lib/utils.ts
  apps/docs/next.config.mjs
  apps/docs/tailwind.config.ts
Due: biome-check, eslint-check

refactor: :sparkles: Added waitlist server-action
  apps/docs/app/actions/subscribe.tsx
  apps/docs/components/sections/cta.tsx
  apps/docs/components/sections/header.tsx
  apps/docs/components/sections/hero.tsx
  apps/docs/lib/config.tsx
  pnpm-lock.yaml
Due: biome-check, eslint-check

ci: :white_check_mark: Added Github Actions
  .github/workflows/ci.yaml
Due: none

fix: :bug: removed test step
  .github/workflows/ci.yaml
Due: none

ci: :white_check_mark: Added Github Actions (#11)
  .github/workflows/ci.yaml
Due: none

fix: :construction: fixed tsc-alias being a missing dep
  apps/api/package.json
  pnpm-lock.yaml
Due: biome-check

Path conditions:
  biome-check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  eslint-check: any of: *.{js,ts,jsx,tsx}
